<!doctype html>
{% load compress %}
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    {% block extra_head %}{% endblock %}
<head>
<body>
    <main id="app">
        <v-app>
            <v-toolbar dark color="primary">
                <v-toolbar-side-icon></v-toolbar-side-icon>
                <v-toolbar-title class="white--text">Ambiente de Graduação</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon>
                    <v-icon>more_vert</v-icon>
                </v-btn>
            </v-toolbar>
            <v-container fluid>
                {% block content %}{% endblock %}
            </v-container>
        </v-app>
    </main>
    {% compress js %}
    <script type="text/es6" src="{% static "common.js" %}"></script>
    {% endcompress %}
    {% block after_body %}{% endblock %}
</body>
</html>
