{% extends "base_site.html" %}
{% load compress %}
{% load static %}

{% block after_body %}
    {{ block.super }}
{% endblock %}

{% block content %}
<v-layout row>
    <v-flex xs4>
        <v-list>
            <v-subheader>Dúvidas</v-subheader>
            {% for turma in turmas %}
            <div>
                <v-list-tile avatar href="{% url 'duvidas' turma.id %}">
                <v-list-tile-action>
                    <v-icon>fas fa-question-circle</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>{{turma.disciplina.nome}}</v-list-tile-title>
                </v-list-tile-content>
                </v-list-tile>
                <v-divider></v-divider>
            </div>
            {% endfor %}
        </v-list>
        <v-list two-line>
            <v-subheader>Turmas</v-subheader>
            {% for turma in turmas %}
            <div>
                {% if not forloop.first %}
                <v-divider></v-divider>
                {% endif %}
                <v-list-tile avatar href="{% url 'turma' turma.id %}">
                <v-list-tile-avatar>
                    <img src="{{turma.professor.foto.url}}">
                </v-list-tile-avatar>
                <v-list-tile-content>
                    <v-list-tile-title>{{turma.disciplina.nome}}</v-list-tile-title>
                    <v-list-tile-sub-title>{{turma.professor.nome}}</v-list-tile-sub-title>
                </v-list-tile-content>
                </v-list-tile>
            </div>
            {% endfor %}
        </v-list>
    </v-flex>
    <v-flex xs8>
        <v-card>
        <v-toolbar dark color="red">
            <v-toolbar-title>Dúvidas</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
            <v-form id="form-questions" method="post">
                {% csrf_token %} 
                {% for duvida in duvidas %}
                    <v-text-field
                    name="duvida-{{duvida.id}}"
                    label="{{duvida.mensagem.mensagem}}"
                    value="{{duvida.resposta|default_if_none:""}}"
                    full-width
                    multi-line
                    ></v-text-field>
                {% endfor %}
            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="red" dark type="submit" form="form-questions">Enviar</v-btn>
        </v-card-actions>
        </v-card>
    </v-flex>
</v-layout row>
{% endblock %}
