{% extends "base.html" %}
{% load compress %}
{% load static %}

{% block extra_head %}
    {{ block.super }}
    {% compress css %}
    <link type="text/x-scss" rel="stylesheet" href="{% static "css/messenger.scss" %}">
    {% endcompress %}
    {% compress js %}
    <script src="{% static "messenger/room.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
<div data-controller="hello">
    <input data-target="hello.name" type="text">

    <button data-action="click->hello#greet">
        Greet
    </button>

    Example: <span data-target="hello.output"></span>
</div>
{% endblock %}
