{% extends "base.html" %}
{% load compress %}
{% load static %}

{% block extra_head %}
    {{ block.super }}
    {% compress css %}
    <link type="text/x-scss" rel="stylesheet" href="{% static "css/messenger.scss" %}">
    {% endcompress %}
    {% compress js %}
    <script type="text/es6" src="{% static "controllers/room.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
<div data-controller="room" data-room-name="aula">
    <input data-target="room.name" type="text" />
    <textarea id="chat-log" rows="20"></textarea>
    <input type="text" data-target="room.messageInput" data-action="keyup->room#enter" />
</div>
{% endblock %}
