{% extends "base.html" %}
{% load compress %}
{% load static %}

{% block extra_head %}
    {{ block.super }}
    {% compress css %}
    <link type="text/x-scss" rel="stylesheet" href="{% static "css/messenger.scss" %}">
    {% endcompress %}
{% endblock %}

{% block after_body %}
    {{ block.super }}
    {% compress js %}
    <script type="text/es6" src="{% static "messenger.js" %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s3">
    </div>
    <div class="col s9" id="messenger">
        <div class="row">
            <chat-history>
                <chat-message v-for="(item, index) in chatLog" :key="index"
                    :messages="item.messages" :profile-img="item.profileImg" :sending-date="item.sendingDate" />
            </chat-history>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="message-input" type="text" class="validate"
                    v-model="messageInput" v-on:keyup.enter="send" />
                <label for="message-input">Sua resposta</label>
            </div>
        </div>
    </div>
</div>
{% endblock %}
